body {
  background: rgb(30, 95, 216);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#Buttons {
  align-items: center;
  font-size: 2px;
}
select{
  align-items: center;
  font-size: 30px;
  
}

h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  line-height: 70px;
  display: flex;
  flex-wrap: wrap;
}

.input-100 {
  align-items: center;
  font-size: 20px;
}

section {
  
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


nav{
width: 100%;
min-width: 1000px;
display: flex;
align-items: stretch;
justify-content: center;
}

ul{
list-style: none;
display: flex;
justify-content: center;
width: 100%;

}
li {
  padding: 30px;
  margin: 10px;
  background: rgb(155, 240, 240);
  align-content: space-between;
  font-family:'Lucida Sans Regular', sans-serif;
  font-size: 30px;
  
}
