
/*Estilizamos los tags de html con css, flexbox*/

  h1 {
    font-size: 40px;
    text-align: left;
    color: white;
    line-height: 70px;
    display: flex;
    flex-wrap: wrap;
  
  }
  .input-100 {
    
    text-align: center;
    font-size: 40px;
    
  }


section {
    
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
article {
  padding: 10px;
  margin: 10px;
  background: aqua;
  flex-direction: column;
  flex: 300px;
}
.pelicula1 img {
  height: 500px;
  width: 400px;

}

.texto4{
  position: absolute;
  bottom:10px;
  left:3%;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-size: 22px;
  color: rgb(234, 234, 243);
  font-weight: bold;
  -webkit-text-stroke: 1px #02687F;
  font-family: 'Kavoon', cursive;
}
.logo2{
  position: absolute;
  bottom: 55%;
  right: 2%;

}
.logo2 img{
  width:180px; 
  height:78px;
}
footer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}